@tailwind base;

@tailwind components;

@tailwind utilities;

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.check-box {
    display: none;
} /* to hide the checkbox itself */
.check-box + label:before {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 2em;
}
.check-box + label:before {
    content: "\f096" !important;
} /* unchecked icon */
.check-box + label:before {
    letter-spacing: 10px !important;
} /* space between checkbox and label */

.check-box:checked + label:before {
    content: "\f046" !important;
} /* checked icon */
.check-box:checked + label:before {
    letter-spacing: 5px !important;
} /* allow space for check mark */
